@model UserLocation

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter the latitude and longitude for your current location below:</p>
</div>

<form method="post" asp-controller="Crime" asp-action="GetCrimes">
    <label for="latitude">Latitude:</label>
    <input type="text" asp-for="Latitude" />
    <label for="longitude">Longitude:</label>
    <input type="text" asp-for="Longitude" />

    <button type="submit">Submit</button>
</form>

<button id="find-me">Show my location</button>
<br />
<p id="status"></p>
<a id="map-link" target="_blank"></a>
