@model CrimeList
@{
    ViewData["Title"] = "Crime";
}
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>
<script>
    mapboxgl.accessToken = "pk.eyJ1IjoidWtkam95IiwiYSI6ImNrZHlqNGFxOTNibXMycXRhbjQyaDlnd2IifQ.81_FU3fFNAGtVqmF5RAF4g";
</script>
<script src="/js/mapkick.js"></script>

<h1>Crime</h1>

<div id="map" style="height: 400px;"></div>

<script>
    var data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.crimes.Select(crime => new {latitude = crime.location.latitude, longitude = crime.location.longitude  })));

    new Mapkick.Map("map", data);
</script>

@foreach (var crime in Model.crimes.GroupBy(crime => crime.category))
{

    <p>Caution! crime @crime.Key occurred @crime.Count() times in your area!</p>
}



